<body style="display: flex; flex-direction:column; justify-content: center; align-items: center;">
    <div class="card" style="width: 95%;">
        <div class="card-body">
            <h5 class="card-title">1.-Infraestructura como Código (IaC)</h5>
            <p class="card-text"> Es una práctica que involucra el uso de descripciones de código para definir y gestionar la infraestructura de
                TI de manera automatizada. En lugar de realizar configuraciones manuales o utilizar interfaces gráficas, los profesionales de TI
                utilizan scripts y archivos de configuración para definir la infraestructura,lo que permite la automatización de procesos como aprovisionamiento,
                configuración y gestión de recursos.</p>
        </div>
    </div>
    <br>
    <div class="card" style="width: 95%;">
        <div class="card-body">
            <h5 class="card-title">2.-Despliegue y gestión automatizada de infraestructura.</h5>
            <p class="card-text">Es un componente fundamental en la implementación exitosa de prácticas DevOps. Automatizar estos procesos proporciona eficiencia,
                consistencia y la capacidad de escalar rápidamente. </p>
            <ul>
                <li><b>Terraform:</b> Terraform es una herramienta de código abierto que permite la creación y gestión de infraestructura como código. 
                    Utiliza un lenguaje declarativo para describir recursos y proveedores en la nube.</li>
                <li><b>Ansible:</b> Ansible es una herramienta de automatización de configuración que permite definir y gestionar la infraestructura a través de scripts YAML. 
                    Es agnóstico de la plataforma y se integra con diversos proveedores de servicios en la nube.</li>
                <li><b>AWS CloudFormation:</b> CloudFormation es un servicio proporcionado por AWS que permite la creación y gestión de recursos en AWS mediante 
                    plantillas declarativas.</li>
                <li><b>Azure Resource Manager (ARM):</b> ARM es el servicio de aprovisionamiento de recursos de Microsoft Azure, que utiliza plantillas JSON para describir y 
                    aprovisionar la infraestructura.</li>
                <li><b>Chef, Puppet, SaltStack:</b> Herramientas de configuración y automatización que permiten gestionar la configuración de sistemas y 
                    la automatización de tareas en entornos distribuidos.</li>
            </ul>
        </div>
    </div>
    <br>
    <div class="card" style="width: 95%;">
        <div class="card-body">
            <h5 class="card-title">3.-Importancia del monitoreo en un entorno DevOps.</h5>
            <p class="card-text">
                Desempeña un papel crucial en un entorno DevOps, ya que proporciona visibilidad en tiempo real sobre el rendimiento, la disponibilidad y 
                la salud de las aplicaciones y la infraestructura</p>
            <ul>
                <li><b>Detección Temprana de Problemas:</b> El monitoreo continuo permite identificar problemas de rendimiento y errores en las aplicaciones 
                    y la infraestructura de manera temprana, antes de que afecten a los usuarios finales.</li>

                <li><b>Retroalimentación Rápida:</b> Proporciona retroalimentación inmediata sobre los cambios implementados. Si hay problemas, los equipos pueden abordarlos rápidamente, facilitando la práctica de integración continua 
                    y despliegue continuo (CI/CD).</li>

                <li><b>Optimización del Rendimiento:</b> El monitoreo continuo permite la identificación de cuellos de botella y áreas de bajo rendimiento. Los equipos pueden realizar ajustes y optimizaciones para mejorar la eficiencia y 
                    la escalabilidad de las aplicaciones.</li>

                <li><b>Mejora de la Experiencia del Usuario: </b> Al monitorear el rendimiento desde la perspectiva del usuario final, los equipos pueden garantizar una experiencia del usuario positiva. La rápida detección y 
                    corrección de problemas contribuyen a la satisfacción del usuario.</li>

                <li><b>Gestión Proactiva de la Infraestructura:</b> El monitoreo de la infraestructura proporciona información sobre la utilización de recursos y la capacidad. Esto facilita la planificación anticipada y 
                    la escalabilidad proactiva en respuesta a cambios en la carga de trabajo.</li>
            </ul>
        </div>
    </div>
    <br>
    <div class="card" style="width: 95%;">
        <div class="card-body">
            <h5 class="card-title">4.-Herramientas de monitoreo y gestión de logs.</h5>
            <p class="card-text">
                Estas herramientas permiten a los equipos obtener visibilidad en tiempo real, detectar problemas rápidamente y 
                analizar datos de registros para mejorar el rendimiento y la confiabilidad del sistema.</p>
            <ul>
                <li><b>Herramientas de Monitoreo:</b>
                    <ul>
                        <li><b>Prometheus: </b> Un sistema de monitoreo y alerta de código abierto diseñado para escalar con entornos dinámicos. 
                            Prometheus recopila métricas y permite la consulta y alertas basadas en esas métricas.</li>
                        <li><b>Grafana: </b> A menudo se utiliza junto con Prometheus para la visualización de datos y la creación de paneles interactivos. 
                            Grafana es compatible con varios orígenes de datos, incluyendo Prometheus, InfluxDB, y más.</li>
                        <li><b>Datadog: </b> Una plataforma de monitoreo y análisis que ofrece una amplia gama de características, incluyendo monitoreo de 
                            infraestructura, rastreo de aplicaciones, y alertas personalizadas.</li>
                        <li><b>New Relic: </b> Ofrece monitoreo de rendimiento de aplicaciones, supervisión de infraestructura y capacidades de análisis de registros. 
                            Es conocido por su capacidad para proporcionar información detallada sobre el rendimiento de las aplicaciones.</li>
                    </ul>
                </li>
                <li><b>Herramientas de Gestión de Logs:</b> 
                    <ul>
                        <li><b>Loggly: </b> Una plataforma basada en la nube para el análisis de logs. Permite buscar, analizar y visualizar logs en tiempo real y 
                            ofrece capacidades de correlación de eventos.</li>
                        <li><b>Splunk: </b> Una plataforma de análisis de datos que puede ser utilizada para buscar, monitorear y analizar logs. 
                            Es conocido por su capacidad de manejar grandes volúmenes de datos.</li>
                        <li><b>Papertrail: </b> Una herramienta basada en la nube para la gestión de logs que permite buscar logs en 
                            tiempo real, crear alertas y visualizar datos de logs.</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <br>
    <div class="card" style="width: 95%;">
        <div class="card-body">
            <h5 class="card-title">5.-Análisis de datos para mejorar el rendimiento y la confiabilidad.</h5>
            <p class="card-text">
                desempeña un papel fundamental en la mejora del rendimiento y la confiabilidad de las aplicaciones y sistemas en un entorno DevOps. 
                Al examinar datos provenientes de diversas fuentes, 
                los equipos pueden identificar patrones, tendencias y áreas de mejora.</p>
            <ul>
                <li><b>Definir Métricas y Objetivos Claros:</b> 
                    Identificar las métricas clave que afectan el rendimiento y la confiabilidad.
                    Establecer objetivos claros en torno a estas métricas para evaluar el rendimiento esperado.
                </li>
                <li><b> Monitoreo Continuo:</b> 
                    Implementar sistemas de monitoreo continuo para recopilar datos en tiempo real.
                    Utilizar herramientas de monitoreo para registrar métricas de rendimiento, errores, tiempos de respuesta, etc.
                </li>
                <li><b>Análisis de Rendimiento:</b> 
                    Realizar análisis de rendimiento para identificar cuellos de botella y áreas de mejora.
                    Utilizar herramientas de perfilamiento para analizar el rendimiento del código y las consultas de base de datos.
                </li>
                <li><b>Análisis de Logs:</b> 
                    Examinar registros (logs) para obtener información detallada sobre eventos, errores y actividades.
                    Utilizar herramientas de análisis de logs para buscar patrones y correlaciones.
                </li>
                <li><b>Análisis de Errores:</b> 
                    Analizar informes de errores para entender las causas fundamentales.
                    Priorizar y abordar errores críticos que afectan el rendimiento y la confiabilidad.
                </li>
                <li><b>Análisis de Tendencias y Patrones:</b> 
                    Utilizar técnicas de análisis estadístico para identificar tendencias a lo largo del tiempo.
                    Identificar patrones que puedan afectar negativamente el rendimiento y la confiabilidad.
                </li>
            </ul>
        </div>
    </div>
    <br>
    <div class="card" style="width: 95%;">
        <div class="card-body">
            <h5 class="card-title">6.-Herramientas y prácticas para garantizar la seguridad del ciclo de vida del software.</h5>
            <p class="card-text">Garantizar la seguridad a lo largo del ciclo de vida del software es fundamental para proteger 
                los sistemas y datos de posibles amenazas y vulnerabilidades.</p>
            <ul>
                <li><b>Análisis de Código Estático (SAST):</b> Herramientas: SonarQube, Fortify, Checkmarx.
                    Prácticas: Realizar análisis estático del código para identificar posibles vulnerabilidades y problemas de seguridad durante la fase de desarrollo.</li>
                <li><b>Pruebas de Penetración:</b> Herramientas: Metasploit, OWASP ZAP, Burp Suite.
                    Prácticas: Realizar pruebas de penetración para identificar y corregir vulnerabilidades en las aplicaciones y sistemas.</li>
                <li><b>Escaneo de Dependencias (SCA):</b> Herramientas: OWASP Dependency-Check, Snyk, Nexus Lifecycle.
                    Prácticas: Escanear dependencias de software para identificar y corregir vulnerabilidades en bibliotecas y componentes de terceros.</li>
                <li><b>Análisis Dinámico de Seguridad (DAST):</b> Herramientas: OWASP ZAP, Burp Suite, AppScan.
                    Prácticas: Realizar pruebas dinámicas de seguridad para identificar vulnerabilidades en aplicaciones en ejecución.</li>
            </ul>
        </div>
    </div>
    <br>
    <button type="button" class="btn btn-primary" onclick="location.href='/cuestionario2'">Ir al cuestionario</button>
    </body>